.courses{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 85%;
    margin: 4rem auto;
}

.course{
    width: 28%;
    margin: 2rem  1.4rem;

}

.course_img{
    width: 100%;
}